# Don't commit compiled code: (Files w/o extensions)
# Ignore all
*

# Unignore all files with extensions
!*.*

# Unignore all dirs
!*/

# Ignore sample http returns
*sample.json

# Ignore config files
# TODO: Create a sample config file
config.json
